In [1]:
import pandas as pd

In [2]:
common_variants_file = '/oak/stanford/groups/akundaje/projects/neuro-variants/variant_lists/neuro.common.variants.1kg.gt_0.05.tsv'
output_variants_file = '/oak/stanford/groups/akundaje/projects/neuro-variants/variant_lists/shap_variants.common.model_inputs.hg38.tsv'

In [3]:
common_variants = pd.read_table(common_variants_file, names=['chr_hg38', 'pos_hg38', 'ref_allele', 'alt_allele', 'snp_id'])

common_variants

        chr_hg38   pos_hg38 ref_allele alt_allele              snp_id
0           chr1  100000723          G          A  chr1:100000723:G:A
1           chr1  100003004          A          G  chr1:100003004:A:G
2           chr1   10000458          T          C   chr1:10000458:T:C
3           chr1  100005288          G          A  chr1:100005288:G:A
4           chr1  100006010          T          C  chr1:100006010:T:C
...          ...        ...        ...        ...                 ...
6565128    chr22   50807831          G          T  chr22:50807831:G:T
6565129    chr22   50807939          G          T  chr22:50807939:G:T
6565130    chr22   50808101          C          G  chr22:50808101:C:G
6565131    chr22   50808134          C          A  chr22:50808134:C:A
6565132    chr22   50808258          G          C  chr22:50808258:G:C

[6565133 rows x 5 columns]

In [4]:
select_variants = ['chr11:86156833:A:G', 'chr11:86139201:C:T', 'chr11:86157598:T:C', 'chr5:180201150:G:A', 'chr5:180197032:G:A',
                   'chr11:86151686:G:A', 'chr11:86151686:A:G']

output_variants = common_variants[common_variants.snp_id.isin(select_variants)]

output_variants

        chr_hg38   pos_hg38 ref_allele alt_allele              snp_id
2133567     chr5  180197032          G          A  chr5:180197032:G:A
2133581     chr5  180201150          G          A  chr5:180201150:G:A
4415941    chr11   86139201          C          T  chr11:86139201:C:T
4415972    chr11   86156833          A          G  chr11:86156833:A:G
4415974    chr11   86157598          T          C  chr11:86157598:T:C

In [5]:
output_variants.to_csv(output_variants_file, sep='\t', header=False, index=False)